*.log
**/token.js
scripts/NHTS
scripts/simulation/__pycache__/Agents.cpython-35.pyc
**/raw/PUMS
**/synth_households.csv
**/synth_persons.csv
**/raw/ACS
**/raw/LODES
**/all_synth_hh.csv
**/all_synth_persons.csv
**/comb_network_edges.csv
**/comb_network_nodes.csv
**/osm_ped_network_edges.csv
**/osm_ped_network_nodes.csv
